node_modules
build
package-lock.json
.directory
*.d.ts
*.js
scripts/src/pureeval
test/node_modules
test/*
!test/server.js
!test/package.json
!test/index.html
!test/texture.png
!webviewer/server.js